<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
  <Fragment Id="Frag1">
    <DirectoryRef Id="Dir1">
      <Component Id="Comp1" Guid="AAAAAAAA-AAAA-AAAA-AAAA-AAAAAAAAAAAA" KeyPath="no">
        <Class Id="BBBBBBBB-BBBB-BBBB-BBBB-BBBBBBBBBBBB" Advertise="yes" Context="LocalServer32" Description="Microsoft Foobar Application" Handler="2">
          <ProgId Id="ProgId1" Description="Microsoft Thingy" Icon="foobar.exe" IconIndex="1">
            <Extension ContentType="application/vnd.ms-excel" Id="xls">
              <MIME Class="Excel.Sheet.8" ContentType="xls" />
              <MIME Class="Excel.Sheet.8" ContentType="xls" />
              <Verb Id="New" Argument="/e /n" Command="&amp;New" />
              <Verb Id="Open" Argument="/e" Command="&amp;Open" Sequence="1" />
              <Verb Id="Print" Argument="/e" Command="&amp;Print" />
              <Verb Id="OpenAsReadOnly" Argument="/h /e" Command="Open as Read-Only" />
              <Verb Id="Printto" Argument="/e" />
            </Extension>
          </ProgId>
        </Class>
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
