<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (c) Microsoft Corporation.  All rights reserved.
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="000C1109-0000-0021-C000-000000000046" Name="TestMultipleMedia" Language="1033" Version="0.0.0.0" Manufacturer="Microsoft Corporation" UpgradeCode="{425D346C-BF71-4E10-843E-E9FF0A66F007}">
        <Package Description="Test multiple media" Comments="Test multiple media" InstallerVersion="200" Compressed="yes" />

        <Media Id="1" Cabinet="product.cab" EmbedCab="yes" />
        <Media Id="2" Cabinet="product2.cab" EmbedCab="yes" />
        <Media Id="3" Cabinet="product3.cab" />
        <Media Id="4" Cabinet="product4.cab" />

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder" Name="PFiles">
                <Component Id="TestComponent" Guid="">
                    <File Id="File1" Name="File1.txt" Source="$(env.WIX)\examples\data\test.txt" DiskId="1" KeyPath="yes" />
                    <File Id="File2" Name="File2.txt" Source="$(env.WIX)\examples\data\test.txt" DiskId="2" />
                    <File Id="File3" Name="File3.txt" Source="$(env.WIX)\examples\data\test.txt" DiskId="1" />
                    <File Id="File4" Name="File4.txt" Source="$(env.WIX)\examples\data\test.txt" DiskId="2" />
                    <File Id="File5" Name="File5.txt" Source="$(env.WIX)\examples\data\test.txt" DiskId="1" />
                    <File Id="File6" Name="File6.txt" Source="$(env.WIX)\examples\data\test.txt" DiskId="3" PatchGroup="1" />
                    <File Id="File7" Name="File7.txt" Source="$(env.WIX)\examples\data\test.txt" DiskId="4" PatchGroup="2" />
                    <File Id="File8" Name="File8.txt" Source="$(env.WIX)\examples\data\test.txt" DiskId="3" PatchGroup="1" />
                    <File Id="File9" Name="File9.txt" Source="$(env.WIX)\examples\data\test.txt" DiskId="4" PatchGroup="2" />
                </Component>
            </Directory>
        </Directory>

        <Feature Id="TestFeature" Title="Test File Product Feature" Level="1">
            <ComponentRef Id="TestComponent" />
        </Feature>
    </Product>
</Wix>
