<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (c) Microsoft Corporation.  All rights reserved.
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="000C1109-0000-0000-C000-000000000046" Name="TestTextSrcProduct" Language="1033" Version="0.0.0.0" Manufacturer="Microsoft Corporation" UpgradeCode="{4D9732E0-470C-4D24-81C3-0220B5224922}">
        <Package Description="Test Text src in a Product" Comments="Test from: wix\examples\test\textsrc\product.wxs" InstallerVersion="200" Compressed="yes" />

        <Media Id="1" Cabinet="product.cab" EmbedCab="yes" />

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder" Name="PFiles">
                <Directory Id="TestAssemblyProductDirectory" ShortName="testassm" Name="Test Assembly">
                    <Component Id="TestTextSrcProductComponent" Guid="00030829-0000-0000-C000-000000000046">
                        <File Id="TestTextSrcProductFile" Name="assembly.dll" Assembly=".net" KeyPath="yes" DiskId="1" Source="$(env.WIX)\examples\data\assembly.dll" />
                    </Component>
                </Directory>
            </Directory>
        </Directory>

        <Feature Id="TestTextSrcProductFeature" Title="Test Text src Product Feature" Level="1">
            <ComponentRef Id="TestTextSrcProductComponent" />
        </Feature>

        <UI>
            <Dialog Id="TestDialog" Width="1" Height="1">
                <Control Id="TestControl" Height="1" Width="1" Type="Text" Y="1" X="1">
                    <Text SourceFile="$(env.WIX)\examples\data\multiline.txt" />
                </Control>
                <Control Id="TestButtonControl" Height="1" Width="1" Type="PushButton" Y="1" X="1" />
            </Dialog>
        </UI>
    </Product>
</Wix>
