<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (c) Microsoft Corporation.  All rights reserved.

    file.wxs - small example that installs a single file.
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="72C91DC7-B7BA-4697-8E5F-55E98D122CC6" Name="WixPatchExampleC" Language="1033" Version="$(var.Version).0.0" Manufacturer="Microsoft Corporation" UpgradeCode="72C91DC7-B7BA-4697-8E5F-55E98D122CC6">
        <Package Description="Installs a file." Comments="Tests installation of a single file." InstallerVersion="200" Compressed="yes" />

        <Media Id="1" Cabinet="product.cab" EmbedCab="yes" />
        <FeatureRef Id="TestFileProductFeature"/>
    </Product>

    <Fragment>
        <Feature Id="TestFileProductFeature" Title="Wix File Product Feature" Level="1">
            <ComponentRef Id="WixExampleFileComponent.Z" />
            <ComponentRef Id="WixExampleFileComponent.Y" />
            <ComponentRef Id="WixExampleFileComponent.X" />
            <ComponentRef Id="WixExampleRegistryComponent.W" />
            <ComponentRef Id="WixExampleRegistryComponent.V" />
        </Feature>
    </Fragment>
</Wix>

