<?xml version="1.0" encoding="utf-8"?>
<!--
    Copyright (c) Microsoft Corporation.  All rights reserved.
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

    <!--
        .NET Framework Locators

        Documentation: http://msdn.microsoft.com/winfx/default.aspx?pull=/library/en-us/dnlong/html/netfx30.asp

        To determine the latest version of the .NET Framework installed, use the standard MsiNetAssemblySupport property.
    -->

    <!-- set to 3321-3705 if the .NET Framework 1.0 is installed (not set otherwise) -->
    <Fragment>
        <Property Id="NETFRAMEWORK10" Secure="yes">
            <RegistrySearch Id="NetFramework10" Root="HKLM" Key="SOFTWARE\Microsoft\.NETFramework\policy\v1.0" Name="3705" Type="raw" />
        </Property>
    </Fragment>

    <!-- set to #1 if the .NET Framework 1.1 is installed (not set otherwise) -->
    <Fragment>
        <Property Id="NETFRAMEWORK11" Secure="yes">
            <RegistrySearch Id="NetFramework11" Root="HKLM" Key="Software\Microsoft\NET Framework Setup\NDP\v1.1.4322" Name="Install" Type="raw" />
        </Property>
    </Fragment>

    <!-- Indicates the service pack level for the .NET Framework 1.1.         -->
    <Fragment>
        <Property Id="NETFRAMEWORK11_SP_LEVEL" Secure="yes">
            <RegistrySearch Id="NetFramework11" Root="HKLM" Key="Software\Microsoft\NET Framework Setup\NDP\v1.1.4322" Name="SP" Type="raw" />
        </Property>
    </Fragment>

    <!-- set to #1 if the .NET Framework 2.0 is installed (not set otherwise) -->
    <Fragment>
        <Property Id="NETFRAMEWORK20" Secure="yes">
            <RegistrySearch Id="NetFramework20" Root="HKLM" Key="Software\Microsoft\NET Framework Setup\NDP\v2.0.50727" Name="Install" Type="raw" />
        </Property>
    </Fragment>

    <!-- Indicates the service pack level for the .NET Framework 2.0.         -->
    <Fragment>
        <Property Id="NETFRAMEWORK20_SP_LEVEL" Secure="yes">
            <RegistrySearch Id="NetFramework20" Root="HKLM" Key="Software\Microsoft\NET Framework Setup\NDP\v2.0.50727" Name="SP" Type="raw" />
        </Property>
    </Fragment>

    <!-- set to #1 if the .NET Framework 3.0 is installed (not set otherwise) -->
    <Fragment>
        <Property Id="NETFRAMEWORK30" Secure="yes">
            <RegistrySearch Id="NetFramework30" Root="HKLM" Key="SOFTWARE\Microsoft\NET Framework Setup\NDP\v3.0\Setup" Name="InstallSuccess" Type="raw" />
        </Property>
    </Fragment>

    <!-- location of the .NET Framework 1.1 SDK installation root -->
    <Fragment>
        <Property Id="NETFRAMEWORK11SDKDIR" Secure="yes">
            <RegistrySearch Id="NetFramework11SDKDir" Root="HKLM" Key="Software\Microsoft\.NETFramework" Name="sdkInstallRootv1.1" Type="raw" />
        </Property>
    </Fragment>

    <!-- location of the .NET Framework 2.0 SDK installation root -->
    <Fragment>
        <Property Id="NETFRAMEWORK20SDKDIR" Secure="yes">
            <RegistrySearch Id="NetFramework20SDKDir" Root="HKLM" Key="Software\Microsoft\.NETFramework" Name="sdkInstallRootv2.0" Type="raw" />
        </Property>
    </Fragment>

    <!-- NetFx NativeImage Custom Action Definitions -->
    <Fragment>
        <WixVariable Id="NetFxVersionVariable" Overridable="yes" Value="v2.0.50727" />
        <Property Id="NetFxVersion" Value="!(wix.NetFxVersionVariable)" />

        <CustomAction Id="NetFxScheduleNativeImage" BinaryKey="NetFxCA" DllEntry="SchedNetFx" Execute="immediate" Return="check" SuppressModularization="yes" />
        <CustomAction Id="NetFxExecuteNativeImageInstall" BinaryKey="NetFxCA" DllEntry="ExecNetFx" Execute="deferred" Impersonate="no" Return="ignore" SuppressModularization="yes" />
        <CustomAction Id="NetFxExecuteNativeImageCommitInstall" BinaryKey="NetFxCA" DllEntry="ExecNetFx" Execute="commit" Impersonate="no" Return="ignore" SuppressModularization="yes" />
        <CustomAction Id="NetFxExecuteNativeImageUninstall" BinaryKey="NetFxCA" DllEntry="ExecNetFx" Execute="deferred" Impersonate="no" Return="ignore" SuppressModularization="yes" />
        <CustomAction Id="NetFxExecuteNativeImageCommitUninstall" BinaryKey="NetFxCA" DllEntry="ExecNetFx" Execute="commit" Impersonate="no" Return="ignore" SuppressModularization="yes" />

        <InstallExecuteSequence>
            <Custom Action="NetFxScheduleNativeImage" Before="InstallFiles" Overridable="yes" />
            <Custom Action="NetFxExecuteNativeImageCommitUninstall" After="MsiPublishAssemblies" Overridable="yes">DISABLEROLLBACK &lt;&gt; 1</Custom>
            <Custom Action="NetFxExecuteNativeImageUninstall" After="NetFxExecuteNativeImageCommitUninstall" Overridable="yes">DISABLEROLLBACK = 1</Custom>
            <Custom Action="NetFxExecuteNativeImageCommitInstall" After="NetFxExecuteNativeImageUninstall" Overridable="yes">DISABLEROLLBACK &lt;&gt; 1</Custom>
            <Custom Action="NetFxExecuteNativeImageInstall" After="NetFxExecuteNativeImageCommitInstall" Overridable="yes">DISABLEROLLBACK = 1</Custom>
        </InstallExecuteSequence>
    </Fragment>

    <!-- NetFx Custom Action DLL Definitions -->
    <Fragment>
        <Binary Id="NetFxCA" SourceFile="$(var.netfxdll)" />
    </Fragment>

</Wix>
