<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (c) Microsoft Corporation.  All rights reserved.
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:iis="http://schemas.microsoft.com/wix/IIsExtension">
    <Product Id="000C1109-0000-0000-C000-000000000099" Name="TestWebFilterProduct" Language="1033" Version="0.0.0.0" Manufacturer="Microsoft Corporation" UpgradeCode="{AA85B703-B6CB-482E-A479-7886A47B8AB6}">
        <Package Description="Test WebFilter in a Product" Comments="Test from: wix\examples\test\webfilter\product.wxs" InstallerVersion="200" Compressed="yes" />

        <Media Id="1" Cabinet="product.cab" EmbedCab="yes" />

        <Property Id="PORT" Value="80" />

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder" Name="PFiles">
                <Directory Id="TestWebFilterProductDirectory" ShortName="filter" Name="Test Filter">
                    <Component Id="TestWebFilterProductComponent" Guid="0003082A-0000-0000-C000-000002000046" DiskId="1">
                        <iis:WebSite Id="Test" Description="Test web server" Directory="TestWebFilterProductDirectory" AutoStart="yes" DirProperties="ReadAndExecute" ConfigureIfExists="no">
                            <iis:WebAddress Id="TestAddress" Port="[PORT]" Secure="no" />
                            <iis:WebVirtualDir Id="vdir1" Alias="test1" Directory="TestWebFilterProductDirectory" DirProperties="ReadOnly">
                                <iis:WebApplication Id="VDirTestApp1" Name="Virtual Directory Test ASP Application" Isolation="high" />
                            </iis:WebVirtualDir>
                            <iis:WebFilter Id="TestFilter1" Name="Test Filter" Path="[#FILEID1]" LoadOrder="last" />
                        </iis:WebSite>
                        <File Id="FILEID1" Name="filter.dll" Source="$(env.WIX)\examples\test\webfilter\filter.dll" KeyPath="yes" />
                    </Component>
                    <Component Id="TestWebFilterProductComponent2" Guid="0003082A-0000-0000-C000-000002464646" DiskId="1" KeyPath="yes">
                        <CreateFolder />
                        <iis:WebFilter Id="TestGlobalFilter" Name="Global Filter" Path="[#FILEID1]" LoadOrder="last" />
                    </Component>
                </Directory>
            </Directory>
            <Directory Id="ProgramMenuFolder" Name="ProgMenu" />
        </Directory>

        <Feature Id="TestWebFilterProductFeature" Title="Test WebFilter Product Feature" Level="1">
            <ComponentRef Id="TestWebFilterProductComponent" />
            <ComponentRef Id="TestWebFilterProductComponent2" />
        </Feature>

        <iis:WebDirProperties Id="ReadOnly" Read="yes" Write="no" Script="no" Execute="no" AnonymousAccess="no" />
        <iis:WebDirProperties Id="ReadAndExecute" Read="yes" Write="no" Script="yes" Execute="yes" AnonymousAccess="no" />
    </Product>
</Wix>
