<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (c) Microsoft Corporation.  All rights reserved.
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="000C1109-0000-0000-C000-000000000046" Name="TestIf.0Product" Language="1033" Version="0.0.0.0" Manufacturer="Microsoft Corporation" UpgradeCode="{E15508AA-C1E4-40CE-AF7F-6606B0F8F345}">
        <Package Description="Test If.0 in a Product" Comments="Test from: wix\examples\test\if.0\product.wxs" InstallerVersion="200" Compressed="yes" />

        <Media Id="1" Cabinet="product.cab" EmbedCab="yes" />

        <?define variable=scotk?>
        <?define variable2=ScotK?>

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder" Name="PFiles">
                <Directory Id="TestIf.0ProductDirectory" ShortName="testif" Name="Test If.0">
                    <?if SCOTK~=$(var.variable)?>
                    <Component Id="a1" KeyPath="yes" Guid="">
                        <CreateFolder />
                    </Component>
                    <?elseif SCOTK~=$(var.variable2)?>
                    <Component Id="a2" Guid="" />
                    <?if SCOTK=$(var.variable)?>
                    <Component Id="b1" Guid="" />
                    <?else ?>
                    <Component Id="b22" Guid="" />
                    <?endif ?>
                    <?else ?>
                    <Component Id="a3" Guid="" />
                    <?endif ?>
                </Directory>
            </Directory>
        </Directory>

        <Feature Id="TestIf.0ProductFeature" Title="Test If.0 Product Feature" Level="1">
            <ComponentRef Id="a1" />
        </Feature>
    </Product>
</Wix>
