//-------------------------------------------------------------------------------------------------
// <copyright file="ctgui.rc" company="Microsoft">
//    Copyright (c) Microsoft Corporation.  All rights reserved.
// </copyright>
//
// <summary>
// ClickThrough UI resource file.
// </summary>
//-------------------------------------------------------------------------------------------------

#define VER_APP
#define VER_ORIGINAL_FILENAME "ctui.exe"
#define VER_INTERNAL_NAME "ClickThrough UI"
#define VER_PRODUCT_NAME "Windows Installer XML Toolset"
#define VER_FILE_DESCRIPTION "WiX Toolset ClickThrough UI"
#include "wix.rc"

#define MANIFEST_RESOURCE_ID 1
MANIFEST_RESOURCE_ID RT_MANIFEST "ctui.exe.manifest"
