<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (c) Microsoft Corporation.  All rights reserved.
-->
<Wix RequiredVersion="2.0.0000.0" xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:iis="http://schemas.microsoft.com/wix/IIsExtension">
  <Fragment>

    <Property Id="PORT" Value="80">
      <RegistrySearch Id="PortLocator" Root="HKLM" Key="Software\Microsoft\Wix\Test\WebSite0" Name="Port" Type="file" />
    </Property>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder" Name="PFiles">
        <Directory Id="TestWebSiteProductDirectory" ShortName="testassm" Name="Test Website Product">
          <Component Id="TestWebSiteProductComponent" Guid="{843D7152-0697-4973-920B-A83D46924216}" DiskId="1">
            <iis:Certificate Id="MyCertificate" Name="Test Certificate" StoreLocation="localMachine" StoreName="my" Overwrite="yes" BinaryKey="cert" />
            <iis:WebSite Id="Test" Description="Test web server" Directory="TestWebSiteProductDirectory" AutoStart="yes" DirProperties="ReadAndExecute" ConfigureIfExists="no" WebLog="TestLog">
              <iis:WebAddress Id="TestAddress" Port="[PORT]" Secure="no" />
              <iis:WebVirtualDir Id="vdir1" Alias="test1" Directory="TestWebSiteProductDirectory" DirProperties="ReadOnly">
                <iis:WebApplication Id="VDirTestApp1" Name="Virtual Directory Test ASP Application" Isolation="high" />
                <iis:WebVirtualDir Id="vdir2" Alias="test1child" Directory="TestWebSiteProductDirectory" DirProperties="ReadOnly" />
              </iis:WebVirtualDir>

              <iis:CertificateRef Id="MyCertificate" />
            </iis:WebSite>
            <File Id="TestFile" Source="$(env.WIX)\examples\data\test.txt" Name="test.txt" KeyPath="yes" />
            <iis:WebServiceExtension Id="extension" Allow="yes" File="[!TestFile]" />
          </Component>
          <Component Id="TestWebSitePortComponent" Guid="{2DDB6F4D-143E-41F8-B943-5B1FBA019B19}" DiskId="1">
            <RegistryValue Id="AllAccessKey" Root="HKLM" Key="Software\Microsoft\Wix\Test\WebSite0" Name="Port" Type="integer" Value="[PORT]" KeyPath="yes" />
          </Component>
          <Component Id="TestWebPropertyComponent" Guid="{A2B1E84C-735E-48CF-8C12-4FC472FCB1B3}" DiskId="1" KeyPath="yes">
            <CreateFolder />
            <iis:WebProperty Id="ETagChangeNumber" Value="1234" />
          </Component>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder" Name="ProgMenu" />
    </Directory>

    <Feature Id="TestWebSiteProductFeature" Title="Test File Product Feature" Level="1">
      <ComponentRef Id="TestWebSiteProductComponent" />
      <ComponentRef Id="TestWebSitePortComponent" />
      <ComponentRef Id="TestWebPropertyComponent" />
    </Feature>

    <iis:WebDirProperties Id="ReadOnly" Read="yes" Write="no" Script="no" Execute="no" AnonymousAccess="no" CacheControlMaxAge="4294967295" />
    <iis:WebDirProperties Id="ReadAndExecute" Read="yes" Write="no" Script="yes" Execute="yes" AnonymousAccess="no" />
    <iis:WebLog Id="TestLog" Type="none" />

  </Fragment>
</Wix>
