@{
    ViewData["Title"] = "Contact";
}
<h3>@ViewData["Title"]</h3>


<name>
    Amoth Computer Servicing<br />
    Columbia, SC 29201<br />
</name>

<address>
    <abbr title="Phone">Phone:</abbr>
    123.456.7891
</address>
<address>
    <abbr title="Fax">Fax:</abbr>
    123.456.7891
</address>
<address>
    <abbr title="Email">Email:</abbr>
    acs@gmail.com
</address>

