@{
    ViewData["Title"] = "CostofServices";
}


<h3>Cost of Services</h3>

   <p>Personal Computer Training - $40.00/hour</p>
   <p>Virus Removal - $100.00  </p>
   <p>Company Network Lab Installation Setup - 100.00/hour or daily rate of $2000.00</p>
   <p>Residential Computer and Network Installation and Troubleshooting - 60.00/hour</p>
   <p>Web Site Design - $80.00/hour</p>


