@{
    ViewData["Title"] = "Home Page";
}

<h3>Welcome to Amoth Computer Servicing</h3>

<p>
    Amoth Computer Servicing is a company that provides many services to businesses, residences, and schools.
    Some of the services that we provide are Computer and Network Installation, Personal Computer Training, Computer and Network Troubleshooting, Website Design, and Virus Removals.
</p>

<p>
    If you are interested in becoming a new customer, please email your Name, Company (if applicable), email address, and contact phone number to acs@gmail.com 
    and we will contact you about what type of account and services you are interested in.
</p>

<p>If you are an existing customer, please login to your account and select what type of service you will need done.</p>







