@{
    ViewData["Title"] = "Support";
}


<h3>Support</h3>

<h5>Please send an email for the type of computer support you need.</h5>

<h5>Please include detail instructions in your email, a contact phone number, and an email address.</h5>

<h5>Email Address: acs@gmail.com</h5>



