<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="logPath" value="E:\Tools\ConfigCop\ConfigCop.log.xml"/>
    <!-- ; delimited (dir|, delimited file types) -->
    <add key="searchDirsFull" value=""/>
    <add key="searchDirsTopOnly" value="C:\Windows\Microsoft.NET\Framework\v4.0.30319\Config|.config;C:\Windows\Microsoft.NET\Framework\v2.0.50727\CONFIG|.config"/>
    <!-- , delimited will ignore directories containing -->
    <add key="ignoreDirs" value="$RECYCLE.BIN,C:\Windows\Microsoft.NET\assembly,IISLogs,SSHTools,Temporary ASP.NET Files,BACKUPS,_BU,.DELETE,_DELETE"/>
    <add key="ignoreFiles" value="Copy of,_BU,.BU,.delete,_delete"/>
    <add key="ignoreFile" value="E:\Tools\ConfigCop\configcop.ignore"/>
    <add key="browseFile" value="E:\Tools\ConfigCop\configcop.browse"/>
    <add key="comment.inc" value="'"/>
    <add key="comment.asp" value="'"/>
    <add key="comment.aspx" value="&lt;%--"/>
    <add key="comment.css" value="/*"/>
    <!-- , delimited file extensions -->
    <add key="fileTypes" value=".config,.inc,.ini,.asp,.html,.css"/>
    <add key="protocols" value="http://,https://"/>
    <add key="regions" value="dev2,qa1,qa2,model1,model2,prod"/>
    <add key="dev2" value="dev2db3|1433,dev2db3sup|1433"/>
    <add key="qa1" value="qa1db3|1433,qa1db3sup|1433"/>
    <add key="qa2" value="qa2db3|1433,qa2db3sup|1433"/>
    <add key="model1" value="model1db3|1433,model1db3sup|1433"/>
    <add key="model2" value="model2db3|1433,model2db3sup|1433"/>
    <add key="prod" value="dbcluster2|1433,proddb3sup|1757"/>
    <!--Status Codes-->
    <add key="0" value="ignore"/>
    <add key="1" value="Warning|Yellow"/>
    <add key="2" value="Error|Red"/>
    <add key="Default" value="1"/>
    <add key="UnauthorizedAccessException" value="1"/>
    <add key="HttpStatusCode.Default" value="1"/>
    <add key="HttpStatusCode.OK" value="0"/>
    <add key="HttpStatusCode.Accepted" value="0"/>
    <add key="HttpStatusCode.Continue" value="0"/>
    <add key="HttpStatusCode.Created" value="0"/>
    <add key="HttpStatusCode.Redirect" value="1"/>
    <add key="HttpStatusCode.Unauthorized" value="2"/>
    <add key="HttpStatusCode.ServiceUnavailable" value="1"/>
    <add key="HttpStatusCode.RequestUriTooLong" value="2"/>
    <add key="HttpStatusCode.RequestEntityTooLarge" value="2"/>
    <add key="HttpStatusCode.ProxyAuthenticationRequired" value="1"/>
    <add key="HttpStatusCode.Moved" value="1"/>
    <add key="HttpStatusCode.Ambiguous" value="1"/>
    <add key="HttpStatusCode.BadGateway" value="2"/>
    <add key="HttpStatusCode.BadRequest" value="2"/>
    <add key="HttpStatusCode.Conflict" value="2"/>
    <add key="HttpStatusCode.ExpectationFailed" value="1"/>
    <add key="HttpStatusCode.Forbidden" value="2"/>
    <add key="HttpStatusCode.GatewayTimeout" value="2"/>
    <add key="HttpStatusCode.Gone" value="2"/>
    <add key="HttpStatusCode.HttpVersionNotSupported" value="2"/>
    <add key="HttpStatusCode.InternalServerError" value="2"/>
    <add key="HttpStatusCode.LengthRequired" value="2"/>
    <add key="HttpStatusCode.MethodNotAllowed" value="2"/>
    <add key="HttpStatusCode.NoContent" value="2"/>
    <add key="HttpStatusCode.NonAuthoritativeInformation" value="1"/>
    <add key="HttpStatusCode.NotAcceptable" value="1"/>
    <add key="HttpStatusCode.NotFound" value="2"/>
    <add key="HttpStatusCode.NotImplemented" value="2"/>
    <add key="HttpStatusCode.NotModified" value="0"/>
    <add key="HttpStatusCode.PartialContent" value="0"/>
    <add key="HttpStatusCode.PaymentRequired" value="0"/>
    <add key="HttpStatusCode.PreconditionFailed" value="2"/>
    <add key="HttpStatusCode.RedirectKeepVerb" value="1"/>
    <add key="HttpStatusCode.RedirectMethod" value="0"/>
    <add key="HttpStatusCode.RequestedRangeNotSatisfiable" value="2"/>
    <add key="HttpStatusCode.RequestTimeout" value="2"/>
    <add key="HttpStatusCode.ResetContent" value="1"/>
    <add key="HttpStatusCode.SwitchingProtocols" value="1"/>
    <add key="HttpStatusCode.UnsupportedMediaType" value="2"/>
    <add key="HttpStatusCode.Unused" value="2"/>
    <add key="HttpStatusCode.UseProxy" value="1"/>
    <add key="ServerConnectionError" value="2"/>
    <add key="ServerDiscrepancy" value="1"/>
    <add key="RegionDiscrepancy" value="1"/>
    <add key="MissingContent" value="2"/>
  </appSettings>
</configuration>
