<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (c) Microsoft Corporation.  All rights reserved.
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Module Id="TestAssemblyModule" Language="1033" Version="0.0">
        <Package Id="000C1109-0000-0000-C000-000000000046" Description="Test Assembly in a Module" Comments="Test from: wix\examples\test\assembly\module.wxs" Manufacturer="Microsoft Corporation" InstallerVersion="200" />

        <Property Id="PROP" Value="Val" Hidden="yes" Secure="yes" />

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="TestAssemblyModuleDirectory" Name=".">
                <Component Id="TestAssemblyModuleComponent" Guid="00030829-0000-0000-C000-000000000046">
                    <File Id="TestAssemblyModuleFile" Name="assembly.dll" Assembly=".net" KeyPath="yes" Source="$(env.WIX)\examples\data\assembly.dll">
                        <Shortcut Id="Something" Name="foo" Directory="TARGETDIR" Icon="foo.exe" />
                    </File>
                </Component>
            </Directory>
        </Directory>

        <Icon Id="foo.exe" SourceFile="$(env.WIX)\examples\data\assembly.dll" />
    </Module>
</Wix>
