<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
  <Product Id="2EF02D13-E778-40AE-B032-7CF57A0E3A66" Name="TestCertProduct" Language="1033" Version="0.0.0.0" Manufacturer="Microsoft Corporation">
    <Package Id="????????-????-????-????-????????????" Description="Test Assembly in a Product" Comments="Test from: wix\examples\test\assembly\product.wxs" InstallerVersion="200" Compressed="yes" />

    <Media Id="1" Cabinet="product.cab" EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder" Name="PFiles">
        <Directory Id="TestCertProductDirectory" Name="testassm" LongName="Test Assembly">
          <Component Id="TestCertProductComponent" Guid="EDE40F4A-2360-4D5E-9D26-7ED058763454">
            <File Id="TestCertProductFile" Name="assembly.dll" Assembly=".net" KeyPath="yes" DiskId="1" Source="$(env.WIX20)\examples\data\assembly.dll" />
            <Certificate Id="TestCertificate" Name="Meschine Head" StoreLocation="currentUser" StoreName="otherPeople" BinaryKey="MyCertificate"/>
            <Certificate Id="TestCertificate2" Name="Meschine2 Head" StoreLocation="currentUser" StoreName="otherPeople" BinaryKey="MyCertificate2"/>
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="TestCertProductFeature" Title="Test Certificate Product Feature" Level="1">
      <ComponentRef Id="TestCertProductComponent" />
    </Feature>

    <Binary Id="MyCertificate" SourceFile="$(env.WIX20)\examples\data\example.cer"/>
    <Binary Id="MyCertificate2" SourceFile="$(env.WIX20)\examples\data\example2.cer"/>
  </Product>
</Wix>
