<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (c) Microsoft Corporation.  All rights reserved.
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="000C1109-0000-0000-C000-000000000046" Name="TestAssemblyProduct" Language="1033" Version="0.0.0.0" Manufacturer="Microsoft Corporation" UpgradeCode="{6C66F702-A338-4CDF-A3B8-2787A6037733}">
        <Package Description="Test Assembly in a Product" Comments="Test from: wix\examples\test\merge.3\product.wxs" InstallerVersion="200" Compressed="yes" />

        <Media Id="1" Cabinet="product.cab" EmbedCab="yes" />

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder" Name="PFiles">
                <Directory Id="TestAssemblyProductDirectory" ShortName="testassm" Name="Test Assembly">
                    <Merge Id="NoFilesMerge" SourceFile="$(env.WIX)\examples\data\nofiles.msm" DiskId="1" Language="!(loc.MergeLanguage)" />
                </Directory>
            </Directory>
        </Directory>

        <Feature Id="TestAssemblyProductFeature" Title="Test Assembly Product Feature" Level="1">
            <MergeRef Id="NoFilesMerge" />
        </Feature>
    </Product>
</Wix>
