<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
  <Fragment Id="AdminNetworkLocation">
    <UI>
      <Dialog Id="AdminNetworkLocation" Width="374" Height="266" Title="[ProductName]" NoMinimize="yes">
        <Control Id="InstallNow" Type="PushButton" X="230" Y="243" Width="66" Height="17" Default="yes" Text="&amp;Install">
          <Publish Event="SetTargetPath" Value="TARGETDIR"><![CDATA[1]]></Publish>
          <Publish Event="NewDialog" Value="OutOfSpace"><![CDATA[OutOfNoRbDiskSpace = 1]]></Publish>
          <Publish Event="EndDialog" Value="Return"><![CDATA[OutOfNoRbDiskSpace <> 1]]></Publish>
        </Control>
        <Control Id="Cancel" Type="PushButton" X="301" Y="243" Width="66" Height="17" Cancel="yes" Text="Cancel">
          <Publish Event="SpawnDialog" Value="CancelSetup"><![CDATA[1]]></Publish>
        </Control>
        <Control Id="SetupPathEdit" Type="PathEdit" X="21" Y="102" Width="330" Height="17" Property="TARGETDIR" />
        <Control Id="Browse" Type="PushButton" X="286" Y="124" Width="66" Height="17" Text="&amp;Change...">
          <Publish Event="SpawnDialog" Value="AdminChangeFolder"><![CDATA[1]]></Publish>
        </Control>
        <Control Id="Back" Type="PushButton" X="164" Y="243" Width="66" Height="17" Text="&lt; &amp;Back">
          <Publish Event="NewDialog" Value="AdminWelcome"><![CDATA[1]]></Publish>
        </Control>
        <Control Id="DlgDesc" Type="Text" X="21" Y="23" Width="292" Height="25" Transparent="yes">
          <Text>Specify a network location for the server image of the product.</Text>
        </Control>
        <Control Id="DlgTitle" Type="Text" X="13" Y="6" Width="292" Height="25" Transparent="yes">
          <Text>{&amp;MSSansBold8}Network Location</Text>
        </Control>
        <Control Id="DlgText" Type="Text" X="21" Y="51" Width="326" Height="40">
          <Text>Enter the network location or click Change to browse to a location.  Click Install to create a server image of [ProductName] at the specified network location or click Cancel to exit the wizard.</Text>
        </Control>
        <Control Id="Banner" Type="Bitmap" X="0" Y="0" Width="374" Height="44" Text="NewBinary1" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="374" Height="0" />
        <Control Id="DlgLine" Type="Line" X="48" Y="234" Width="326" Height="0" />
        <Control Id="LBBrowse" Type="Text" X="21" Y="90" Width="100" Height="10" Text="&amp;Network location:" />
      </Dialog>
    </UI>
  </Fragment>
</Wix>