<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
  <Fragment Id="DiskSpaceRequirements">
    <UI>
      <Dialog Id="DiskSpaceRequirements" Width="374" Height="266" Title="[ProductName]" NoMinimize="yes">
        <Control Id="OK" Type="PushButton" X="301" Y="243" Width="66" Height="17" Default="yes" Cancel="yes" Text="OK">
          <Publish Event="EndDialog" Value="Return"><![CDATA[1]]></Publish>
        </Control>
        <Control Id="DlgDesc" Type="Text" X="17" Y="23" Width="292" Height="25" Transparent="yes">
          <Text>The disk space required for the installation of the selected features.</Text>
        </Control>
        <Control Id="DlgTitle" Type="Text" X="9" Y="6" Width="292" Height="25" Transparent="yes">
          <Text>{&amp;MSSansBold8}Disk Space Requirements</Text>
        </Control>
        <Control Id="DlgText" Type="Text" X="10" Y="185" Width="358" Height="41">
          <Text>The highlighted volumes do not have enough disk space available for the currently selected features. You can remove files from the highlighted volumes, choose to install less features onto local drives, or select different destination drives.</Text>
        </Control>
        <Control Id="Banner" Type="Bitmap" X="0" Y="0" Width="374" Height="44" Text="NewBinary1" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="374" Height="0" />
        <Control Id="DlgLine" Type="Line" X="48" Y="234" Width="326" Height="0" />
        <Control Id="List" Type="VolumeCostList" X="8" Y="55" Width="358" Height="125" Sunken="yes" Fixed="yes" Remote="yes">
          <Text>{120}{70}{70}{70}{70}</Text>
        </Control>
      </Dialog>
    </UI>
  </Fragment>
</Wix>