<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
  <Product Id="000C1109-0000-0000-C000-550000000046" Name="TestSecureObjProduct" Language="1033" Version="0.0.0.0" Manufacturer="Microsoft Corporation">
    <Package Id="000C1109-0000-0000-C000-560000000046" Description="Test SecureObjects Custom Action" Comments="Test from: wix\examples\test\secureobjects\product.wxs" InstallerVersion="200" Compressed="yes" />

    <Media Id="1" Cabinet="product.cab" EmbedCab="yes" />

    <Property Id="BikeUser" Value="NT AUTHORITY\LocalService" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder" Name="PFiles">
        <Directory Id="TestSecureObjectsProductDirectory" Name="secobj" LongName="Test Secure Objects">
          <Component Id="TestSecureObjectsServiceComponent" Guid="00030829-0000-0000-C000-570000000046">
            <File Id="bike.exe" Name="bike.exe" Source="$(env.WIX)\examples\data\bike.exe" DiskId="1" KeyPath="yes">
              <Permission User="Guests" GenericAll="yes" Extended="yes" />
              <Permission User="Everyone" GenericAll="yes" Extended="yes" />
              <Permission User="LocalService" GenericAll="yes" Extended="yes" />
            </File>
            <Registry Id="BikeCore" Root="HKLM" Key="SOFTWARE\Microsoft\Office\Delivery\Bike" Action="createKeyAndRemoveKeyOnUninstall">
              <Permission User="Guests" Read="yes" Write="yes" CreateSubkeys="yes" EnumerateSubkeys="yes" Notify="yes" CreateLink="yes" Extended="yes" />
            </Registry>
            <Registry Id="BikeLogLevel" Root="HKLM" Key="SOFTWARE\Microsoft\Office\Delivery\Bike\Settings" Name="LogLevel" Value="0" Type="integer" />
            <Registry Id="BikeTraceLevel" Root="HKLM" Key="SOFTWARE\Microsoft\Office\Delivery\Bike\Settings" Name="TraceLevel" Value="1" Type="integer" />
            <Registry Id="BikeTraceFiles" Root="HKLM" Key="SOFTWARE\Microsoft\Office\Delivery\Bike\Settings" Name="TraceFiles" Value="0" Type="integer" />

            <ServiceInstall Id="bike.exe" Name="bike" DisplayName="Bike" Type="ownProcess" Start="auto" ErrorControl="normal" Description="Bike Service" Account="[BikeUser]">
              <Permission User="Guests" ServiceStart="yes" ServiceStop="yes" ServiceQueryConfig="yes" ServiceEnumerateDependents="yes" ServiceUserDefinedControl="yes" />
              <ServiceConfig FirstFailureActionType="none" SecondFailureActionType="restart" ThirdFailureActionType="reboot" ResetPeriodInDays="1" />
            </ServiceInstall>
            <ServiceControl Id="bike.exe" Name="bike" Start="install" Stop="both" Remove="uninstall" />
          </Component>
          <Component Id="TestSecureObjectsCreateFolderComponent" Guid="00030829-0000-0000-C000-580000000046" KeyPath="yes">
            <CreateFolder Directory="TestSecureObjectsCreateFolderDirectory">
              <Permission User="Everyone" ReadAttributes="yes" WriteAttributes="yes" ChangePermission="yes" Synchronize="yes" Extended="yes" />
              <Permission User="Guests" ReadAttributes="yes" Extended="yes" />
            </CreateFolder>
          </Component>
          <Directory Id="TestSecureObjectsCreateFolderDirectory" Name="cfolder" LongName="Create Folder" />
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="TestSecureObjectsProductFeature" Title="Test SecureObjects Feature" Level="1">
      <ComponentRef Id="TestSecureObjectsServiceComponent" />
      <ComponentRef Id="TestSecureObjectsCreateFolderComponent" />
    </Feature>
  </Product>
</Wix>
