<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="svn" value="C:\Program Files\SlikSvn\bin\svn.exe" />
    <add key="sourceRoot" value="http://sourcecontrol/svn/Gis/Development/" />
    <add key="workspace" value="E:\SemiAutoWorkspace" />
    <add key="output" value="E:\SemiAutoOutput" />
    <add key="refFile" value="refFile.txt" />
    <add key="msbuild" value="C:\Program Files (x86)\MSBuild\12.0\Bin\msbuild.exe" />
    <add key="nant" value="C:\Program Files\nant-0.92\bin\nant.exe" />
    <add key="buildTools" value="http://sourcecontrol/svn/Gis/Development/BuildTools/Gis.MSBuild.Custom.Tasks" />
    <add key="buildsRepo" value="http://buildatlasnav1.geninfo.com/svn/GISManualBuilds/" />
    <add key="SVNLockDir" value="E:\svnlock" />
  </appSettings>
  <connectionStrings>
    <add name="BT_SemiAutoEntities" connectionString="metadata=res://*/ManualBuildsModel.csdl|res://*/ManualBuildsModel.ssdl|res://*/ManualBuildsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=hcsmodeldb1;initial catalog=BT_SemiAuto;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IBuildWellWCF" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://hcsbuildsrv2.geninfo.com/BuildWellWCF/BuildWellWCF.BuildWellWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBuildWellWCF"
        contract="BuildWellWCF.IBuildWellWCF" name="BasicHttpBinding_IBuildWellWCF" />
    </client>
  </system.serviceModel>
</configuration>