//-------------------------------------------------------------------------------------------------
// <copyright file="light.rc" company="Microsoft">
//    Copyright (c) Microsoft Corporation.  All rights reserved.
// </copyright>
//
// <summary>
// light.exe resource file.
// </summary>
//-------------------------------------------------------------------------------------------------

#define VER_APP
#define VER_ORIGINAL_FILENAME "light.exe"
#define VER_INTERNAL_NAME "light"
#define VER_PRODUCT_NAME "Windows Installer XML Toolset"
#define VER_FILE_DESCRIPTION "WiX Toolset Linker"
#include "wix.rc"

#define MANIFEST_RESOURCE_ID 1
MANIFEST_RESOURCE_ID RT_MANIFEST "light.exe.manifest"
