<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
  <Product Id="000C1109-0000-0031-C000-000000000046" Name="TestMimeMapProduct" Language="1033" Version="0.0.0.0" Manufacturer="Microsoft Corporation">
    <Package Id="000C1109-0000-0032-C000-000000000046" Description="Test Mime Map" Comments="Test from: wix\examples\test\mimemap\product.wxs" InstallerVersion="200" Compressed="yes" />

    <Property Id="PORT" Value="80" />
    <Property Id="AppPool1Name" Value="App Pool 1" />
    <Property Id="WebSiteName" Value="Test web server" />

    <Media Id="1" Cabinet="product.cab" EmbedCab="yes" />
        
        <!-- The below AppPool 'locator' could be referenced by any WebApp that is listed later in this file
			or in any fragments. It is in this example for demonstration (which is why nothing else references it.-->
    <WebAppPool Id="AppPoolLocator" Name="DefaultAppPool" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder" Name="PFiles">
        <Directory Id="TestMimeMapProductDirectory" Name="testmm" LongName="Test Mime Map">
          <Component Id="TestMimeMapProductComponent" Guid="10030829-0000-0000-C000-000000000046" DiskId="1" KeyPath="yes">
            <CreateFolder Directory="TestMimeMapProductDirectory" />
            <WebSite Id="Test" Description="[WebSiteName]" Directory="TestMimeMapProductDirectory" AutoStart="yes" DirProperties="ReadAndExecute" ConfigureIfExists="no">
              <WebAddress Id="TestAddress" Port="[PORT]" Secure="no" />
              <WebVirtualDir Id="vdir1" Alias="test1" Directory="TestMimeMapProductDirectory" DirProperties="ReadOnly">
                <WebApplication Id="VDirTestApp1" Name="Virtual Directory Test ASP Application" Isolation="high" />
                <MimeMap Id="BBMimeMapTest1" Type="application/test1" Extension=".foo1" />
                <MimeMap Id="BBMimeMapTest2" Type="application/test2" Extension=".foo2" />
                <MimeMap Id="BBMimeMapTest3" Type="application/test3" Extension=".foo3" />
              </WebVirtualDir>
              <WebVirtualDir Id="vdir2" Alias="test2" Directory="TestMimeMapProductDirectory" DirProperties="ReadOnly">
                <WebApplication Id="VDirTestApp2" Name="Virtual Directory Test ASP Application" Isolation="high" />
                <MimeMap Id="BBMimeMapTest4" Type="application/test4" Extension=".foo4" />
                <MimeMap Id="BBMimeMapTest5" Type="application/test5" Extension=".foo5" />
                <MimeMap Id="BBMimeMapTest6" Type="application/test6" Extension=".foo6" />
              </WebVirtualDir>
            </WebSite>
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="TestMimeMapProductFeature" Title="Test File Product Feature" Level="1">
      <ComponentRef Id="TestMimeMapProductComponent" />
    </Feature>

    <WebDirProperties Id="ReadOnly" Read="yes" Write="no" Script="no" Execute="no" AnonymousAccess="no" />
    <WebDirProperties Id="ReadAndExecute" Read="yes" Write="no" Script="yes" Execute="yes" AnonymousAccess="no" />
  </Product>
</Wix>
