<?xml version="1.0" encoding="UTF-8"?>

<!--
This is a qtest for if logic.
Specifically, this excercises:
	Elseif occuring after else
-->

<?define variable=1?>

<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">

  <Product Id="F73522A2-EBF6-436F-8C89-178902306EE7" Name="Server Test" Language="1033" Version="1.0.0.0" Manufacturer="Microsoft Corporation">
    <Package Id="81146712-3931-46AD-9FC2-99ED6CA027BB" Description="Server Test" Comments="Server Test" InstallerVersion="200" Compressed="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Component Id="0" Guid="" />
      <?ifdef variable?>
      <?else ?>
      <?elseif 1=1?>
      <?endif ?>
      <Component Id="4" Guid="" />
    </Directory>
  </Product>

</Wix>

