<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (c) Microsoft Corporation.  All rights reserved.
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="DE5392AD-E6E7-4DC6-8E82-64C1A629C116" Name="ExtraICE.0.Product" Language="1033" Version="0.0.0.0" Manufacturer="Microsoft Corporation" UpgradeCode="8CF0FFED-0116-4A64-B658-38713E3D3362">
        <Package Description="Test Extra ICEs" Comments="Test from: wix\examples\test\extraice.0\product.wxs" InstallerVersion="200" Compressed="yes" />

        <Media Id="1" Cabinet="product.cab" EmbedCab="yes" />

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Component Id="ExtraICE.0.ProductComponent" Guid="BF30D609-F2F3-447A-8661-AF2B4E7444D8" DiskId="1">
                <File Id="ExtraICE.0.ProductFile" Name="test.txt" Source="$(env.WIX)\examples\data\test.txt" KeyPath="yes" />
            </Component>
        </Directory>

        <Feature Id="ExtraICE.0.ProductFeature" Title="Test File Product Feature" Level="1">
            <ComponentRef Id="ExtraICE.0.ProductComponent" />
        </Feature>
    </Product>
</Wix>
