<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (c) Microsoft Corporation.  All rights reserved.
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <Product Id="*" Name="CloseApp" Language="1033" Version="1.0.0.0" Manufacturer="Microsoft Corporation" UpgradeCode="{1B2B1E1E-8559-4694-892D-F44E3FE03BEF}">
        <Package Description="Test closeApp Custom Action" Comments="Test from: wix\examples\test\closeapps\product.wxs" InstallerVersion="200" Compressed="yes" />

        <Media Id="1" Cabinet="product.cab" EmbedCab="yes" />

        <util:CloseApplication Id="CloseNotepad" Target="notepad.exe" Description="Please close notepad before continuing." Sequence="3">REMOVE~="ALL"</util:CloseApplication>

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder" Name="PFiles">
                <Directory Id="CloseAppDir" Name="Close App">
                    <Component Id="MainComponent" Guid="00040829-0000-0000-C000-570000000046" DiskId="1">
                        <File Id="TestFileProductFile" Name="test.txt" Source="$(env.WIX)\examples\data\test.txt" KeyPath="yes" />
                    </Component>
                </Directory>
            </Directory>
        </Directory>

        <Feature Id="MainFeature" Title="Test CloseApp Feature" Level="1">
            <ComponentRef Id="MainComponent" />
        </Feature>
    </Product>
</Wix>
