<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (c) Microsoft Corporation.  All rights reserved.
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="000C1109-0000-0000-C000-000000000046" Name="TestShortcutProduct" Language="1033" Version="0.0.0.0" Manufacturer="Microsoft Corporation" UpgradeCode="{6C6DC9A7-10DC-4A54-82BC-8E8BDF86771A}">
        <Package Description="Test File in a Product" Comments="Test from: wix\examples\test\class\product.wxs" InstallerVersion="200" Compressed="yes" />

        <Media Id="1" Cabinet="product.cab" EmbedCab="yes" />

        <AppId Id="000C1109-DEFE-0000-C000-0000000000DD" />

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder" Name="PFiles">
                <Directory Id="TestShortcutProductDirectory" ShortName="testassm" Name="Test File">
                    <Component Id="TestShortcutProductComponent" Guid="00030829-0000-0000-C000-000000000046" DiskId="1">
                        <File Id="TestShortcutProductFile" Name="test.txt" Source="$(env.WIX)\examples\data\test.txt" KeyPath="yes">
                            <AppId Id="000C1109-DEFE-0000-C000-000000000046">
                                <Class Id="61616161-6161-6161-6161-616161616161" Context="LocalServer" Argument="/foo">
                                    <FileTypeMask Offset="0" Mask="FF00F9FF0000FFFF" Value="0900000000001000" />
                                    <FileTypeMask Offset="0" Mask="FF00F9FF0000FFFF" Value="0900000000004000" />
                                    <FileTypeMask Offset="0" Mask="FF00F9FF0000FFFF" Value="0900000000000001" />
                                </Class>
                                <Class Id="DEAD6161-6161-BEEF-6161-F00D61616161" Context="LocalServer" Advertise="no" />
                            </AppId>
                        </File>
                        <Class Id="DEAD6161-6161-BEEF-6161-BEEF61616161" Context="LocalServer" Advertise="yes" />
                        <Class Id="DEAD6161-6161-BEEF-6161-BEAD61616161" Context="LocalServer" Advertise="yes" Argument="/foo">
                            <FileTypeMask Offset="0" Mask="FF00F9FF0000FFFF" Value="0900000000004000" />
                            <FileTypeMask Offset="0" Mask="FF00F9FF0000FFFF" Value="0900000000000001" />
                        </Class>
                        <Class Id="DEAD6161-6161-BEEF-6161-BEEF6161616A" Context="LocalServer" Advertise="yes" AppId="000C1109-DEFE-0000-C000-0000000000DD" />
                    </Component>
                </Directory>
            </Directory>
            <Directory Id="ProgramMenuFolder" Name="ProgMenu" />
        </Directory>

        <Feature Id="TestShortcutProductFeature" Title="Test File Product Feature" Level="1">
            <ComponentRef Id="TestShortcutProductComponent" />
        </Feature>
    </Product>
</Wix>
