<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (c) Microsoft Corporation.  All rights reserved.
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="000C1109-0000-0000-C000-000000000046" Name="TestFileProduct" Language="1033" Version="0.0.0.0" Manufacturer="Microsoft Corporation" UpgradeCode="{87C9F256-E362-4220-85BE-755650CEEF2F}">
        <Package Description="Test File in a Product" Comments="Test from: wix\examples\test\assembly\product.wxs" InstallerVersion="200" Compressed="yes" />

        <Media Id="1" Cabinet="product.cab" EmbedCab="yes" />

        <Property Id="SomeRandomProperty" Value="some directory" />

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder" Name="PFiles">
                <Directory Id="TestFileProductDirectory" ShortName="testassm" Name="Test File">
                    <Component Id="TestFileProductComponent" Guid="00030829-0000-0000-C000-000000000046" DiskId="1">
                        <File Id="TestFileProductFile" Name="test.txt" Source="$(env.WIX)\examples\data\test.txt" KeyPath="yes">
                            <CopyFile Id="CopyFile" DestinationDirectory="CopyFolder" />
                        </File>
                    </Component>

                    <Component Id="TestFileProductComponent2" Guid="00031829-0000-0000-C000-000000000046" DiskId="1" KeyPath="yes">
                        <CreateFolder />
                        <CopyFile Id="CopyFile2" FileId="TestFileProductFile2" DestinationDirectory="CopyFolder2" />
                    </Component>

                    <Component Id="TestFileProductComponent3" Guid="00032829-0000-0000-C000-000000000046" DiskId="1" KeyPath="yes">
                        <CreateFolder />
                        <CopyFile Id="MoveFile" SourceDirectory="TestFileProductDirectory" SourceName="*" DestinationDirectory="CopyFolder" />
                    </Component>

                    <Component Id="blah1" DiskId="1" Guid="">
                        <File Id="TestFileProductFile2" Name="test2.txt" Source="$(env.WIX)\examples\data\test.txt" KeyPath="yes">
                            <CopyFile Id="CopyFile1o" DestinationDirectory="CopyFolder" />
                            <CopyFile Id="CopyFile2o" DestinationDirectory="CopyFolder" DestinationName="NewName.ext" DestinationLongName="Longer Happier New Name.extension" />
                            <CopyFile Id="CopyFile3o" DestinationName="NewName.ext" />
                            <CopyFile Id="CopyFile4o" DestinationProperty="SomeRandomProperty" DestinationName="NewName.ext" DestinationLongName="Longer Happier New Name.extension" />
                        </File>

                        <CopyFile Id="CopyFile1a" FileId="TestFileProductFile" DestinationDirectory="CopyFolder" />
                        <CopyFile Id="CopyFile2a" FileId="TestFileProductFile" DestinationDirectory="CopyFolder" DestinationName="NewName.ext" DestinationLongName="Longer Happier New Name.extension" />
                        <CopyFile Id="CopyFile3a" FileId="TestFileProductFile" DestinationName="NewName.ext" />
                        <CopyFile Id="CopyFile4a" FileId="TestFileProductFile" DestinationProperty="SomeRandomProperty" DestinationName="NewName.ext" DestinationLongName="Longer Happier New Name.extension" />

                        <CopyFile Id="CopyFile0b" DestinationDirectory="CopyFolder" />
                        <CopyFile Id="CopyFile1b" SourceDirectory="CopyFolder2" DestinationDirectory="CopyFolder" />
                        <CopyFile Id="CopyFile2b" SourceDirectory="CopyFolder2" SourceName="ran?om long file name.*xtension" DestinationDirectory="CopyFolder" DestinationName="NewName.ext" DestinationLongName="Longer Happier New Name.extension" />
                        <CopyFile Id="CopyFile3b" SourceProperty="SomeRandomProperty" DestinationProperty="CopyFolder" DestinationName="NewName.ext" />
                        <CopyFile Id="CopyFile4b" SourceProperty="SomeRandomProperty" Delete="yes" DestinationProperty="SomeRandomProperty" DestinationName="NewName.ext" DestinationLongName="Longer Happier New Name.extension" />
                    </Component>

                </Directory>
            </Directory>
        </Directory>

        <Feature Id="TestFileProductFeature" Title="Test File Product Feature" Level="1">
            <ComponentRef Id="TestFileProductComponent" />
            <ComponentRef Id="TestFileProductComponent2" />
            <ComponentRef Id="TestFileProductComponent3" />
            <ComponentRef Id="blah1" />
        </Feature>
    </Product>

    <Fragment>
        <DirectoryRef Id="TARGETDIR">
            <Directory Id="CopyFolder" Name="Copy" />
            <Directory Id="CopyFolder2" Name="CopyTo" />
        </DirectoryRef>
    </Fragment>

</Wix>
