<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (c) Microsoft Corporation.  All rights reserved.
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="D7A0FB67-F942-4E24-9909-8F520DEDA408" Name="TestTwoMimeProduct" Language="1033" Version="0.0.0.0" Manufacturer="Microsoft Corporation" UpgradeCode="{3B546934-CAA7-4663-991B-EFFD17651AB0}">
        <Package Description="Test two Mimes in a Product" Comments="Test from: wix\examples\test\mime2\product.wxs" InstallerVersion="200" Compressed="yes" />
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder" Name="PFiles">
                <Component Id="Comp1" Guid="1C168625-1262-4709-9956-DE9BE1808A30">
                    <!-- test advertised -->
                    <File Id="ClassServer" Name="server.dll" Source="$(env.WIX)\examples\data\test.txt" DiskId="1" KeyPath="yes" />
                    <ProgId Id="Conseco.ZZZ.TestFile" Description="Conseco Test Sleep File" Icon="foobar.exe" IconIndex="0" Advertise="yes">
                        <Extension Id="zzz">
                            <MIME ContentType="application/bar.tt-uuu" Default="yes" />
                            <Verb Id="open" Command="Open" />
                        </Extension>
                        <Extension Id="zzz-yy">
                            <MIME ContentType="application/bar.tt-uuu" Advertise="no" />
                            <Verb Id="open-yy" Command="Open" />
                        </Extension>
                    </ProgId>
                </Component>
            </Directory>
        </Directory>

        <Feature Id="BaseFeature" Level="1" Title="Test Feature">
            <ComponentRef Id="Comp1" />
        </Feature>

        <Icon Id="foobar.exe" SourceFile="$(env.WIX)\examples\data\test.txt" />
        <Media Id="1" Cabinet="embedded" />
    </Product>
</Wix>
