<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (c) Microsoft Corporation.  All rights reserved.
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment Id="SetupResume">
        <UI>
            <Dialog Id="SetupResume" Width="374" Height="266" Title="[ProductName]" NoMinimize="yes">
                <Control Id="Next" Type="PushButton" X="230" Y="243" Width="66" Height="17" Default="yes" Text="&amp;Next &gt;">
                    <Publish Event="NewDialog" Value="OutOfSpace"><![CDATA[OutOfNoRbDiskSpace = 1]]></Publish>
                    <Publish Event="EndDialog" Value="Return"><![CDATA[OutOfNoRbDiskSpace <> 1]]></Publish>
                </Control>
                <Control Id="Cancel" Type="PushButton" X="301" Y="243" Width="66" Height="17" Cancel="yes" Text="Cancel">
                    <Publish Event="SpawnDialog" Value="CancelSetup"><![CDATA[1]]></Publish>
                </Control>
                <Control Id="Back" Type="PushButton" X="164" Y="243" Width="66" Height="17" Disabled="yes" Text="&lt; &amp;Back" />
                <Control Id="DlgLine" Type="Line" X="0" Y="234" Width="374" Height="0" />
                <Control Id="Image" Type="Bitmap" X="0" Y="0" Width="374" Height="234" Text="NewBinary5" />
            </Dialog>
        </UI>
    </Fragment>
</Wix>