<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
  <Fragment Id="product.fragment">

    <DirectoryRef Id="TestFeatureRefProductDirectory">
      <Component Id="TestFeatureRefProductComponent" Guid="00030829-0000-0000-C000-000000000046" DiskId="1">
        <File Id="TestFeatureRefProductFile" Name="test.txt" Source="$(env.WIX)\examples\data\test.txt" />
      </Component>
    </DirectoryRef>

    <Feature Id="TestFeatureRefProductParentFeature" Title="Test FeatureRef Parent Product Feature" Level="1" />
  </Fragment>
</Wix>
