<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="ReportsDirectory" value ="C:\Users\tkoehler\Desktop\Reports"/>
    <add key="DBGhost" value ="C:\Program Files (x86)\DB Ghost\ChangeManagerCMD.exe"/>
  </appSettings>
</configuration>