//-------------------------------------------------------------------------------------------------
// <copyright file="ClickThrough.rc" company="Microsoft">
//    Copyright (c) Microsoft Corporation.  All rights reserved.
// </copyright>
//
// <summary>
// ClickThrough.exe resource file.
// </summary>
//-------------------------------------------------------------------------------------------------

#define VER_APP
#define VER_ORIGINAL_FILENAME "ClickThrough.exe"
#define VER_INTERNAL_NAME "ClickThrough"
#define VER_PRODUCT_NAME "Windows Installer XML Toolset"
#define VER_FILE_DESCRIPTION "WiX Toolset ClickThrough"
#include "wix.rc"

#define MANIFEST_RESOURCE_ID 1
MANIFEST_RESOURCE_ID RT_MANIFEST "ClickThrough.exe.manifest"
