<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
  <Module Id="TestFileModule" Guid="000C1109-0000-0000-C000-000000000046" Language="1033" Version="0.0.0.0">
    <Package Id="000C1109-0000-0000-C000-000000000046" Description="Test File in a Module" Comments="Test from: wix\examples\test\file\module.wxs" Manufacturer="Microsoft Corporation" InstallerVersion="200" Compressed="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="TestFileModuleDirectory" Name=".">
        <Component Id="TestFileModuleComponent" Guid="00030823-0000-0000-C000-000000000046">
          <File Id="TestFileProductFile" Name="test.txt" Compressed="yes" Source="$(env.WIX)\examples\data\test.txt" KeyPath="yes" />
        </Component>
      </Directory>
    </Directory>
  </Module>
</Wix>
