<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (c) Microsoft Corporation.  All rights reserved.

    Product.MSI - example source code for Product from "Getting Started" in help
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="12345678-1234-1234-1234-123456789012" Name="Test Package" Language="1033" Version="1.0.0.0" Manufacturer="Microsoft Corporation" UpgradeCode="{0DB5AF60-76D9-4355-8A69-1389A6C238B5}">
        <Package Description="My first Windows Installer package" Comments="This is my first attempt at creating a Windows Installer database" InstallerVersion="200" Compressed="yes" />

        <Media Id="1" Cabinet="product.cab" EmbedCab="yes" />

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder" Name="PFiles">
                <Directory Id="MyDir" ShortName="TestProg" Name="Test Program">
                    <Component Id="MyComponent" Guid="12345678-1234-1234-1234-123456789012">
                        <File Id="readme" Name="readme.txt" DiskId="1" Source="$(env.WIX)\examples\data\readme.txt" KeyPath="yes" />
                        <File Id="gethash" Name="gethash.exe" DiskId="1" Source="$(env.WIX)\examples\data\gethash.exe" />
                    </Component>
                </Directory>
            </Directory>
        </Directory>

        <CustomAction Id="LaunchReadme" BinaryKey="WixCA" DllEntry="WixShellExec" Execute="immediate" Return="check" Impersonate="yes" />
        <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Open readme" />
        <Property Id="WixShellExecTarget" Value="[#readme]" />
        <UI>
            <UIRef Id="WixUI_Minimal" />
            <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchReadme" Order="1">NOT Installed</Publish>
        </UI>

        <Feature Id="MyFeature" Title="My 1st Feature" Level="1">
            <ComponentRef Id="MyComponent" />
        </Feature>
    </Product>
</Wix>

 
