//--------------------------------------------------------------------------------------------------
// <copyright file="netfxca.rc" company="Microsoft">
//    Copyright (c) Microsoft Corporation.  All rights reserved.
// </copyright>
// 
// <summary>
// NetFX CA resource file.
// </summary>
//--------------------------------------------------------------------------------------------------

#define VER_APP
#define VER_LANG_NEUTRAL
#define VER_ORIGINAL_FILENAME "netfxca.dll"
#define VER_INTERNAL_NAME "netfxca"
#define VER_PRODUCT_NAME "WiX NetFX Custom Actions"
#define VER_FILE_DESCRIPTION "WiX NetFX Custom Actions"
#include "wix.rc"

// Additional resources here
