//--------------------------------------------------------------------------------------------------
// <copyright file="scasched.rc" company="Microsoft">
//    Copyright (c) Microsoft Corporation.  All rights reserved.
// </copyright>
// 
// <summary>
// WiX shim to native code resource file.
// </summary>
//--------------------------------------------------------------------------------------------------

#define VER_APP
#define VER_LANG_NEUTRAL
#define VER_ORIGINAL_FILENAME "scasched.dll"
#define VER_INTERNAL_NAME "scasched"
#define VER_PRODUCT_NAME "WiX Server Custom Actions"
#define VER_FILE_DESCRIPTION "WiX Server Custom Actions"
#include "wix.rc"

// Additional resources here

